<p></p>

<div class="row">
  <div class="col-md-10">
    <mat-card>
      Simple card
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores eius asperiores ducimus magni ipsam? Quidem rerum inventore quam dolorem possimus sed ullam. Aperiam beatae corporis vel laboriosam inventore. Ad, quisquam.
    </mat-card>
  </div>
  <div class="col-md-2">
    Desktop <mat-slide-toggle (change)="change($event)" [checked]="checked">Mobile</mat-slide-toggle>
    <p>{{selectedPlatform}}</p>

  </div>
</div>
<p>




