<div class="media border border-warning mt-2">
  <div class="align-self-start mx-3">Info<mat-icon>info</mat-icon></div>
  <div class="media-body">
    <h5 class="mt-0" style="color: #1bbed1" >
      <strong>Please fill out form and Click "Run Test" button to start</strong></h5>
    <p><strong>Market : </strong>Country <span class="text-muted">.e.g Sweden , Germany</span></p>
      <p><strong>TestSuite : </strong>Department <span class="text-muted">.e.g ACQ , Lobby</span></p>
      <p><strong>Report Address: </strong>Email address to send report to <span class="text-muted">.e.g user@</span>
  </div>
</div>
<p>
  <mat-form-field appearance="outline">
    <mat-label>Outline form field</mat-label>
    <input matInput placeholder="Placeholder">
  </mat-form-field>
</p>
<p>
  <mat-form-field appearance="outline">
    <mat-label>Platform</mat-label>
    <mat-select [(value)]="selectedPlatform">
      <mat-option *ngFor="let platform of testPlatforms" value="platform">{{platform}}</mat-option>
    </mat-select>
  </mat-form-field>
</p>
