.border {
  /* border: 3px solid #dee2e6 !important; */
  box-shadow: 0 6px 10px 0 rgba(253, 253, 253, 0.2);
  transition: 0.3s;
}

p {
  margin-bottom: 0px;
}

/* ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: #ffc107 !important;
}

::ng-deep .mat-form-field-label{
  color: #ffc107 !important;
}

::ng-deep .mat-select-value {
  color: #ffc107 !important;
} */

/* .bg-image {
  background: url(../../assets/bgimg.jpg);
  background-size: cover;
} */
