.border {
  border: 3px solid #dee2e6 !important;
  border-color: #ffc107 !important;
}

p {
  margin-bottom: 0px;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: #ffc107 !important;
}

::ng-deep .mat-form-field-label{
  color: #ffc107 !important;
}

::ng-deep .mat-select-value {
  color: #ffc107 !important;
}

.bg-image {
  background: url(../../assets/bgimg.jpg);
  background-size: cover;
}
