<nav class="nav">
  <a class="nav-link active" routerLink="testing">Basics</a>
  <a class="nav-link active" routerLink="register">Registration</a>
  <a class="nav-link" routerLink="login">Login</a>
  <a class="nav-link" routerLink="testBuddy">Test Buddy</a>
  <a class="nav-link" routerLink="dropDown">Drop Down</a>
  <a class="nav-link" routerLink="scrollTest">Scroll</a>
  <a class="nav-link" routerLink="accordians">mat-accordion</a>
  <a class="nav-link" routerLink="">Disabled</a>
</nav>
<router-outlet></router-outlet>
<ak-new-scroll-top></ak-new-scroll-top>
