<table border="1">
    <thead>
      <tr>
        <th>User Name</th>
        <th>Email</th>
        <th>Gender</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
          <tr *ngFor="let user of userList">
              <td>{{user.name}}</td>
              <td>{{user.email}}</td>
              <td>{{user.gender}}</td>
              <td>{{user.status}}</td>
          </tr>
    </tbody>
</table>
<div>
  <div style="display: block;">
    <!-- Any Charts will be display in Canvas Layers with out no chart will be displayed -->
    <canvas baseChart
      [data]="doughnutChartData"
      [labels]="doughnutChartLabels"
      [chartType]="doughnutChartType"
      [colors]="doughnutColors">
    </canvas>
  </div>

